*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme: #6563FF;
    --card-bg: #F8F8F8;
    --card-shadow: rgba(0, 0, 0, 0.1);
    --white: #ffffff;
}
